{% extends 'layout.html' %}
{% block content %}
    <style>
        body {background-color: black;}
    </style>
    <br><br>
    <h3 class="text-center">
        {% include '_messages.html' %}
    </h3>
    <br><br><br>
    <h1 class="text-center text-white">
        Not Ready
    </h1><br><br>
    <div class="text-center">
        <a href="{{ url_for('logout') }}" class="btn btn-outline-warning ">Logout</a>
        <a href="{{ url_for('create') }}" class="btn btn-outline-success ">Create</a>
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}